html{
    font: 1rem 'Fira Sans', sans-serif;
    background-image: url("../img/BackGround/BackgroundDish.jpg");
}
body{
    margin: 0;
}
.DishList{
    margin-top: 15px;
    padding: 5px;
}
.Dish{
    background-color: white;
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr;
}
.Name{
    padding: 10px 10px 10px 10px;
    border: solid 1px;
    grid-column: 1;
}
.Recipe{
    padding: 10px 10px 10px 10px;
    white-space: pre-line;
    border: solid 1px;
    grid-column: 2;
}
@media (min-width: 1001px) {
    .DishList{
        font-size: 170%;
    }
}