@import url("TopHeader.css");
@import url("footer.css");
html{
    background-color: wheat;
    font: 1rem 'Fira Sans', sans-serif;
}
ul{
    list-style-type: none;
}
aside{
    height: 30%;
    margin: 15px 10px 10px 10px;
    border-radius: 30px;
}
main{
    border-radius: 30px;
    background-color: white;
    margin: 15px 10px 10px 10px;
    box-sizing: border-box;
    padding: 15px 10px 25px 10px;
}
.ContactUs {
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 80px 80px;
    grid-gap: 10px;
}
.social{
    justify-content: center;
}
.ContactUs div {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.ContactUs img {
    margin-left: 50%;
    width: 70px;
}

/*Mobile*/
/*Tablet*/
/*Desktop*/
@media (min-width: 320px) {
    body {
        margin: 0 0 0 0;
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    header {
        grid-area: header;
    }

    aside {
        display: None;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    #FootCont {
        display: grid;
        grid-template-rows:auto auto;
    }

    .social {
        display: flex;
    }
}

@media (min-width: 769px) {
    body {
        margin: 0 0 0 0;
        display: grid;
        grid-template-areas:
                "header header"
                "main"
                "footer footer";
    }

    #FootCont {
        display: grid;
        padding: 5px;
        grid-template-rows:auto auto;
        grid-template-columns: 1fr 1fr;
    }
    aside {
        display: none;
    }

    .social {
        display: flex;
    }
}

@media (min-width: 1001px) {
    body {
        margin: 0 0 0 0;
        padding: 0;
        display: grid;
        grid-template-areas:
                "header header"
                "aside main"
                "footer footer";
    }
    aside {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
    header {
        grid-area: header;
    }

    aside {
        padding: 10px;
        display: inline;
        align-content: center;
        grid-area: aside;
    }

    #container {
        grid-area: main;
    }

    #FootCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }

    .social {
        display: flex;
    }
}
#asideCard{
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 30px;
}