.TopHeader {
  align-content: center;
  width: 98%;
  position: absolute;
  float: left;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 20px 12px;
  background-color: #2073b4;
  border-radius: 20px;
}