
.container {
    text-align: center;
    position: relative;
    padding: 60px;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(119, 133, 132, 0.24);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    margin: 15px auto;
}

* {
    margin: 0;
    padding: 0;
    font: 1rem 'Fira Sans', sans-serif;
}

body {
    background: #031323;
}

.container::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 380px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #76b7a8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}


.box {
    position: relative;
}

.form h2 {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.form input {
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form input::placeholder {
    color: #fff;
}
.form p {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}

.form p a {
    color: #fff;
}


.form p a:hover {
    background-color: #000;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.remember {
    position: relative;
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
#button{
    transition: 0.1s;
    background-color: #4a494d;
}
#button:active{
    background: red;
}
