
body{
    text-align: center;
    margin: 0;
}
#cards{
    display: flex;
}
.card{
    filter: drop-shadow(2px 2px 5px #babfc4);
    margin: 10px;
    width: 40%;
    background-color: yellow;
    border: solid 2px;
    border-radius: 10px;
}
.date{
    border: black;
}
