aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > ol {
    margin: .5rem;
}

ol {
    font-family: 'Fira Sans', sans-serif;
    list-style: square;
}
a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
}
a:hover {
    color:hotpink;
}   
button:active {
    color: rgb(236, 62, 18);

}
h2:nth-child(3n) {
    color: rgb(48, 110, 74);
}

h1,h2{
    font-family: 'Roboto', italic;
}
.layer1{
    position: relative; 
    background: #f0f0f0; 
    height: 350px; 
       
}
.frLayer{
    position: absolute;
    bottom: 10px;
    margin-left: 30%; 
    
    line-height: 50px; 
}
.line{
    text-decoration: underline red;
}
.DIVForm{
    
    margin-left: 20%;
    margin-right: 20%;
    background-color: beige;
    color: #964823;
    
}
input{
    border-radius: 5px;
    display: block;
}
#USText{
    width: 100px;
}
.fieldset{
    height: 120px;
}

#Email:focus{
    background-color: lightblue;
}
#PSW:focus{
    background-color: lightblue;
}
video{
    width: 300px;
    height: 340px;
}